* {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin: 0;
}

.App{
  background-image: url("/src/image.jpg");
}

.layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Hina Mincho", serif;
  height: 100vh;
  justify-content: center;
  margin: 10px auto;
  max-width: 650px;
}

.historia {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
  margin-top: 55px;
  padding: 10px 50px;
  text-align: justify;
}

.opciones {
  color: white;
}

.opcion {
  display: flex;
  gap: 15px;
  margin: 10px;
}

.recordatorio {
  color: white;
  margin-top: 60px;
}

.botones {
  background-color: #f9f9f9;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.botones:hover {
  background-color: #e9e9e9;
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
}

.botones:active {
  position: relative;
  top: 1px;
}